*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
background-color:rgb(15, 14, 12);
text-align: center;
text-size-adjust: 15%;
color: snow;
justify-content: center;
align-items: center;
}

a {
  color:snow;
  font-size: 20px;
}

p
{
  font-size: 60px;
}

.button{
  font-size: 70px;
  width: 40%;
  border-radius: 12%;
}
#geronimo {
  margin-top: 12%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: center;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
}